body{
    margin: 0px;
}
.paginaCapa{
    background-image: url(/image/CAPA.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll;
    background-size: 95%;
    height:600px;
    opacity: 0.7;
    }

#tituloPagina1{
    padding-top: 275px;
    text-align:right;
    padding-right: 10%;
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#subTituiloPagina1 {
    text-align:right;
    padding-right: 24%;
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#botãoDoeAgora{
    border-style:solid;
    border-radius: 40px;
    border-color: #E8E8E8;
    height: 60px;
    line-height: 30px;
    padding: 0 20px;
    margin-left: 90%;
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu-container {
    width: 70px;
    height: 92%;
    background-color: #E8E8E8;
    position:absolute;
    top: 0;
    left: 0;
  }


